In [1]:
import sqlite3

import pandas as pd

In [2]:
conn = sqlite3.connect('database.sqlite')
cur =  conn.cursor()

In [3]:
teams = [r[0] for r in cur.execute("""SELECT DISTINCT AwayTeam FROM Matches
                        WHERE (Div = "D1" OR Div = "D2")
                        AND Season = 2011
                        ORDER BY AwayTeam""").fetchall()]

In [4]:
def team_goals_wins():
    def _fetch(calc, side, team, ftr):
        return cur.execute(f"""SELECT {calc} FROM Matches
                            WHERE {side} = ?
                            AND FTR LIKE "{ftr}"
                            AND (Div = "D1" OR Div = "D2")
                            AND Season = 2011""", (team,)).fetchone()[0]
        
    team_goals_wins = []
    for team in teams:
        away_goals = _fetch("SUM(FTAG)", "AwayTeam", team, "%")
        home_goals = _fetch("SUM(FTHG)", "HomeTeam", team, "%")
        away_wins = _fetch("COUNT(*)", "AwayTeam", team, "A")
        home_wins = _fetch("COUNT(*)", "HomeTeam", team, "H")

        team_goals_wins.append((team, away_goals, home_goals, away_wins, home_wins))
    return team_goals_wins

In [5]:
team_goals_wins_df = pd.DataFrame(team_goals_wins())
team_goals_wins_df.columns = ("Team", "AwayGoals", "HomeGoals", "AwayWins", "HomeWins")
team_goals_wins_df

                  Team  AwayGoals  HomeGoals  AwayWins  HomeWins
0               Aachen         15         15         2         4
1             Augsburg         16         20         2         6
2        Bayern Munich         28         49         9        14
3               Bochum         18         23         3         7
4         Braunschweig         16         21         4         6
5              Cottbus         12         18         4         4
6             Dortmund         36         44        11        14
7              Dresden         20         30         4         8
8             Duisburg         19         23         2         8
9        Ein Frankfurt         38         38         9        11
10      Erzgebirge Aue         12         19         3         5
11             FC Koln         19         20         3         5
12  Fortuna Dusseldorf         29         35         5        11
13       Frankfurt FSV         23         20         4         3
14            Freiburg         21         24         4         6
15      Greuther Furth         27         46         6        14
16             Hamburg         16         19         5         3
17            Hannover         10         31         2        10
18       Hansa Rostock         14         20         2         3
19              Hertha         19         19         3         4
20          Hoffenheim         20         21         6         4
21          Ingolstadt         15         28         2         6
22      Kaiserslautern         12         12         2         2
23           Karlsruhe         11         23         1         8
24          Leverkusen         24         28         7         8
25          M'gladbach         20         29         8         9
26               Mainz         20         27         2         7
27         Munich 1860         27         35         7        10
28            Nurnberg         16         22         6         6
29           Paderborn         23         28         8         9
30          Schalke 04         27         47         7        13
31            St Pauli         23         36         6        12
32           Stuttgart         27         36         5        10
33        Union Berlin         25         30         3        11
34       Werder Bremen         18         31         3         8
35           Wolfsburg         18         29         3        10