In [87]:
import pandas as pd
import sqlite3 
conn = sqlite3.connect('/Users/sandylee/git/flatiron_school_mod_2_project/database.sqlite')
cur = conn.cursor()

In [93]:
_2011_team_query = cur.execute("""SELECT * FROM Teams
               WHERE
               Season= 2011;""")

In [94]:
df = pd.DataFrame(_2011_team_query)
df.columns = [i[0] for i in cur.description]

In [95]:
df

,Season,TeamName,KaderHome,AvgAgeHome,ForeignPlayersHome,OverallMarketValueHome,AvgMarketValueHome,StadiumCapacity
0,2011,Bayern Munich,24,25,11,335600000,13980000,75000
1,2011,Dortmund,28,24,12,158200000,5650000,81359
2,2011,Leverkusen,29,23,9,151100000,5210000,30210
3,2011,Schalke 04,37,24,20,136730000,3700000,62271
4,2011,Werder Bremen,38,23,17,125350000,3300000,42100
5,2011,Wolfsburg,44,25,28,122000000,2770000,30000
6,2011,Hamburg,36,23,23,103200000,2870000,57376
7,2011,Stuttgart,32,24,18,101880000,3180000,60449
8,2011,Hoffenheim,34,23,20,93600000,2750000,30164
9,2011,FC Koln,31,24,17,69290000,2240000,49968
10,2011,Hannover,31,25,16,68850000,2220000,49200
11,2011,M'gladbach,28,23,15,59080000,2110000,54014
12,2011,Freiburg,34,24,17,57400000,1690000,24000
13,2011,Mainz,30,25,18,55100000,1840000,34000
14,2011,Hertha,30,24,16,50350000,1680000,74475
15,2011,Kaiserslautern,36,23,20,50050000,1390000,49780
16,2011,Nurnberg,30,23,12,43180000,1440000,50000
17,2011,Augsburg,32,25,15,34980000,1090000,30660
18,2011,Ein Frankfurt,36,24,18,51400000,1430000,47728
19,2011,St Pauli,30,25,6,25600000,853000,47728
20,2011,Cottbus,32,24,12,22550000,705000,47728
21,2011,Bochum,32,24,9,21330000,666000,47728
22,2011,Fortuna Dusseldorf,29,24,10,20080000,692000,47728
23,2011,Greuther Furth,28,24,11,19580000,699000,47728
24,2011,Munich 1860,31,24,8,19500000,629000,47728
25,2011,Aachen,34,24,11,19400000,571000,47728
26,2011,Ingolstadt,32,26,10,18250000,570000,47728
27,2011,Duisburg,30,24,19,17930000,598000,47728
28,2011,Karlsruhe,38,25,16,16700000,439000,47728
29,2011,Dresden,31,25,11,16550000,534000,47728
30,2011,Frankfurt FSV,33,24,17,14850000,450000,47728
31,2011,Erzgebirge Aue,27,25,3,14000000,519000,47728
32,2011,Hansa Rostock,29,24,6,11950000,412000,47728
33,2011,Union Berlin,28,24,8,10800000,386000,47728
34,2011,Paderborn,26,24,7,10680000,411000,47728
35,2011,Braunschweig,29,24,6,8180000,282000,47728

In [163]:
combined_tables_query = cur.execute("""SELECT Unique_Teams.TeamName, Teams_in_Matches.Match_ID, Unique_Teams.Unique_Team_ID, Div, FTHG, FTAG, KaderHome
                                              FROM Unique_Teams 
                                              JOIN Teams_in_Matches
                                              ON Unique_Teams.Unique_Team_ID = Teams_in_Matches.Unique_Team_ID
                                              JOIN Matches
                                              ON Teams_in_Matches.Match_ID = Matches.Match_ID
                                              JOIN Teams
                                              ON Unique_Teams.TeamName = Teams.TeamName
                                              WHERE Div = "D1" OR Div = "D2" AND Teams.Season = 2011 AND Teams;""")

In [220]:
combined_tables_query = cur.execute("""SELECT *
                                       From Matches
                                       JOIN Teams_in_Matches
                                       ON Matches.Match_ID = Teams_in_Matches.Match_ID
                                       WHERE Matches.Season = 2011 AND (Matches.Div = "D1" OR Matches.Div = "D2")
                                       GROUP By Matches.Match_ID;""")

In [221]:
df2 = pd.DataFrame(cur.fetchall())
df2.columns = [i[0] for i in cur.description]

In [222]:
df2

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,Match_ID,Unique_Team_ID
0,1092,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A,1092,1
1,1093,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A,1093,1
2,1094,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A,1094,1
3,1095,D1,2011,2011-11-27,Mainz,Bayern Munich,3,2,H,1095,1
4,1096,D1,2011,2012-02-18,Freiburg,Bayern Munich,0,0,D,1096,1
...,...,...,...,...,...,...,...,...,...,...,...
607,1699,D2,2011,2011-07-24,Paderborn,Fortuna Dusseldorf,1,1,D,1699,21
608,1700,D2,2011,2011-12-10,Bochum,Fortuna Dusseldorf,1,1,D,1700,25
609,1701,D2,2011,2011-08-15,Ein Frankfurt,Fortuna Dusseldorf,1,1,D,1701,14
610,1702,D2,2011,2011-08-27,Aachen,Fortuna Dusseldorf,0,0,D,1702,25
611,1703,D2,2011,2011-09-16,Erzgebirge Aue,Fortuna Dusseldorf,2,4,A,1703,25