In [372]:
import pandas as pd
import sqlite3 
conn = sqlite3.connect('/Users/sandylee/git/flatiron_school_mod_2_project/database.sqlite')
cur = conn.cursor()

In [373]:
all_german_2011_season = cur.execute("""SELECT Matches.Match_ID, HomeTeam, AwayTeam, FTHG, FTAG, FTR
                       From Matches
                       JOIN Teams_in_Matches
                       ON Matches.Match_ID = Teams_in_Matches.Match_ID
                       WHERE Matches.Season = 2011 AND (Matches.Div = "D1" OR Matches.Div = "D2")
                       """)

In [374]:
all_german_2011_season_df = pd.DataFrame(cur.fetchall())
all_german_2011_season_df.columns = [i[0] for i in cur.description]

In [375]:
all_german_2011_season_df

      Match_ID        HomeTeam            AwayTeam  FTHG  FTAG FTR
0         1092        Nurnberg       Bayern Munich     0     1   A
1         1092        Nurnberg       Bayern Munich     0     1   A
2         1093       Stuttgart       Bayern Munich     1     2   A
3         1093       Stuttgart       Bayern Munich     1     2   A
4         1094       Wolfsburg       Bayern Munich     0     1   A
...        ...             ...                 ...   ...   ...  ..
1219      1701   Ein Frankfurt  Fortuna Dusseldorf     1     1   D
1220      1702          Aachen  Fortuna Dusseldorf     0     0   D
1221      1702          Aachen  Fortuna Dusseldorf     0     0   D
1222      1703  Erzgebirge Aue  Fortuna Dusseldorf     2     4   A
1223      1703  Erzgebirge Aue  Fortuna Dusseldorf     2     4   A

[1224 rows x 6 columns]

In [391]:
all_german_2011_season_df.to_csv(r'/Users/sandylee/Desktop/csv.csv')

In [457]:
away_team_goals = cur.execute("""SELECT AwayTeam AS Team, SUM(FTAG) AS TotalAwayGoals
                             From Matches
                             JOIN Teams_in_Matches
                             ON Matches.Match_ID = Teams_in_Matches.Match_ID
                             WHERE Matches.Season = 2011 AND (Matches.Div = "D1" OR Matches.Div = "D2") AND FTR = "A"
                             GROUP BY Team
                             ORDER BY Team""")

In [458]:
away_team_goals_df = pd.DataFrame(cur.fetchall())
away_team_goals_df.columns = [i[0] for i in cur.description]

In [459]:
away_team_goals_df

                  Team  TotalAwayGoals
0               Aachen               8
1             Augsburg               6
2        Bayern Munich              46
3               Bochum              20
4         Braunschweig              18
5              Cottbus              12
6             Dortmund              66
7              Dresden              18
8             Duisburg               8
9        Ein Frankfurt              60
10      Erzgebirge Aue              12
11             FC Koln              18
12  Fortuna Dusseldorf              38
13       Frankfurt FSV              28
14            Freiburg              18
15      Greuther Furth              34
16             Hamburg              16
17            Hannover               6
18       Hansa Rostock               4
19              Hertha              16
20          Hoffenheim              28
21          Ingolstadt               6
22      Kaiserslautern               8
23           Karlsruhe               4
24          Leverkusen              30
25          M'gladbach              34
26               Mainz              10
27         Munich 1860              32
28            Nurnberg              24
29           Paderborn              38
30          Schalke 04              40
31            St Pauli              28
32           Stuttgart              26
33        Union Berlin              20
34       Werder Bremen              16
35           Wolfsburg              20

In [448]:
home_team_goals = cur.execute("""SELECT HomeTeam AS Team, SUM(FTHG) AS TotalHomeGoals
                             From Matches
                             JOIN Teams_in_Matches
                             ON Matches.Match_ID = Teams_in_Matches.Match_ID
                             WHERE Matches.Season = 2011 AND (Matches.Div = "D1" OR Matches.Div = "D2") AND FTR = "H"
                             GROUP BY Team
                             ORDER BY Team""")

In [449]:
home_team_goals_df = pd.DataFrame(cur.fetchall())
home_team_goals_df.columns = [i[0] for i in cur.description]

In [450]:
home_team_goals_df

                  Team  TotalHomeGoals
0               Aachen              16
1             Augsburg              22
2        Bayern Munich              98
3               Bochum              36
4         Braunschweig              34
5              Cottbus              16
6             Dortmund              76
7              Dresden              42
8             Duisburg              40
9        Ein Frankfurt              70
10      Erzgebirge Aue              20
11             FC Koln              24
12  Fortuna Dusseldorf              58
13       Frankfurt FSV              14
14            Freiburg              26
15      Greuther Furth              84
16             Hamburg              10
17            Hannover              48
18       Hansa Rostock              16
19              Hertha              16
20          Hoffenheim              18
21          Ingolstadt              30
22      Kaiserslautern               8
23           Karlsruhe              34
24          Leverkusen              38
25          M'gladbach              46
26               Mainz              42
27         Munich 1860              56
28            Nurnberg              22
29           Paderborn              42
30          Schalke 04              88
31            St Pauli              62
32           Stuttgart              62
33        Union Berlin              58
34       Werder Bremen              46
35           Wolfsburg              44

In [ ]:
#figure out what to do with results that draw

In [451]:
away_team_draw_goals = cur.execute("""SELECT AwayTeam AS Team, SUM(FTAG) AS TotalAwayTeamDrawGoals
                             From Matches
                             JOIN Teams_in_Matches
                             ON Matches.Match_ID = Teams_in_Matches.Match_ID
                             WHERE Matches.Season = 2011 AND (Matches.Div = "D1" OR Matches.Div = "D2") AND FTR = "D"
                             GROUP BY Team
                             ORDER BY Team""")

In [452]:
away_team_draw_goals_df = pd.DataFrame(cur.fetchall())
away_team_draw_goals_df.columns = [i[0] for i in cur.description]

In [453]:
away_team_draw_goals_df

                  Team  TotalAwayTeamDrawGoals
0               Aachen                      12
1             Augsburg                      18
2        Bayern Munich                       2
3               Bochum                       2
4         Braunschweig                      12
5              Cottbus                       2
6             Dortmund                       4
7              Dresden                      12
8             Duisburg                      14
9        Ein Frankfurt                      10
10      Erzgebirge Aue                       6
11             FC Koln                       6
12  Fortuna Dusseldorf                      14
13       Frankfurt FSV                       8
14            Freiburg                       6
15      Greuther Furth                      16
16             Hamburg                      10
17            Hannover                       6
18       Hansa Rostock                       6
19              Hertha                      20
20          Hoffenheim                       2
21          Ingolstadt                       6
22      Kaiserslautern                      12
23           Karlsruhe                       2
24          Leverkusen                      14
25          M'gladbach                       4
26               Mainz                      18
27         Munich 1860                      12
28            Nurnberg                       4
29           Paderborn                       6
30          Schalke 04                       8
31            St Pauli                      12
32           Stuttgart                      20
33        Union Berlin                      12
34       Werder Bremen                      10
35           Wolfsburg                       2

In [454]:
home_team_draw_goals = cur.execute("""SELECT HomeTeam AS Team, SUM(FTHG) AS TotalHomeTeamDrawGoals
                             From Matches
                             JOIN Teams_in_Matches
                             ON Matches.Match_ID = Teams_in_Matches.Match_ID
                             WHERE Matches.Season = 2011 AND (Matches.Div = "D1" OR Matches.Div = "D2") AND FTR = "D"
                             GROUP BY Team
                             ORDER BY Team""")

In [455]:
home_team_draw_goals_df = pd.DataFrame(cur.fetchall())
home_team_draw_goals_df.columns = [i[0] for i in cur.description]

In [456]:
home_team_draw_goals_df

                  Team  TotalHomeTeamDrawGoals
0               Aachen                      10
1             Augsburg                      12
2        Bayern Munich                       0
3               Bochum                       6
4         Braunschweig                       6
5              Cottbus                      18
6             Dortmund                      10
7              Dresden                      12
8             Duisburg                       2
9        Ein Frankfurt                       6
10      Erzgebirge Aue                      10
11             FC Koln                       8
12  Fortuna Dusseldorf                       8
13       Frankfurt FSV                      22
14            Freiburg                      14
15      Greuther Furth                       2
16             Hamburg                      14
17            Hannover                      14
18       Hansa Rostock                      12
19              Hertha                      10
20          Hoffenheim                      16
21          Ingolstadt                      20
22      Kaiserslautern                       6
23           Karlsruhe                       8
24          Leverkusen                      14
25          M'gladbach                      10
26               Mainz                       2
27         Munich 1860                       4
28            Nurnberg                      14
29           Paderborn                      12
30          Schalke 04                       2
31            St Pauli                       4
32           Stuttgart                       6
33        Union Berlin                       2
34       Werder Bremen                      10
35           Wolfsburg                       4

In [483]:
total_goals_df = away_team_goals_df.merge(home_team_goals_df, on="Team").merge(away_team_draw_goals_df, on="Team").merge(home_team_draw_goals_df, on="Team")

In [484]:
total_goals_df.insert(5,"TotalGoals", total_goals_df["TotalAwayGoals"]+total_goals_df["TotalHomeGoals"]+total_goals_df["TotalAwayTeamDrawGoals"]+total_goals_df["TotalHomeTeamDrawGoals"])

In [489]:
total_goals_df.sort_values(by="TotalGoals", ascending=False)

,Team,TotalAwayGoals,TotalHomeGoals,TotalAwayTeamDrawGoals,TotalHomeTeamDrawGoals,TotalGoals
6,Dortmund,66,76,4,10,156
9,Ein Frankfurt,60,70,10,6,146
2,Bayern Munich,46,98,2,0,146
30,Schalke 04,40,88,8,2,138
15,Greuther Furth,34,84,16,2,136
12,Fortuna Dusseldorf,38,58,14,8,118
32,Stuttgart,26,62,20,6,114
31,St Pauli,28,62,12,4,106
27,Munich 1860,32,56,12,4,104
29,Paderborn,38,42,6,12,98
24,Leverkusen,30,38,14,14,96
25,M'gladbach,34,46,4,10,94
33,Union Berlin,20,58,12,2,92
7,Dresden,18,42,12,12,84
34,Werder Bremen,16,46,10,10,82
17,Hannover,6,48,6,14,74
26,Mainz,10,42,18,2,72
13,Frankfurt FSV,28,14,8,22,72
35,Wolfsburg,20,44,2,4,70
4,Braunschweig,18,34,12,6,70
20,Hoffenheim,28,18,2,16,64
14,Freiburg,18,26,6,14,64
8,Duisburg,8,40,14,2,64
28,Nurnberg,24,22,4,14,64
3,Bochum,20,36,2,6,64
19,Hertha,16,16,20,10,62
21,Ingolstadt,6,30,6,20,62
1,Augsburg,6,22,18,12,58
11,FC Koln,18,24,6,8,56
16,Hamburg,16,10,10,14,50
23,Karlsruhe,4,34,2,8,48
10,Erzgebirge Aue,12,20,6,10,48
5,Cottbus,12,16,2,18,48
0,Aachen,8,16,12,10,46
18,Hansa Rostock,4,16,6,12,38
22,Kaiserslautern,8,8,12,6,34